{% extends 'inventory/base.html' %}

{% block content %}
<h2>Product List</h2>
<table class="table table-striped">
    <thead class='bg-dark text-white'>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.order_status }}</td>
            <td>
                <a href="{% url 'product_update' product.pk %}" class="btn btn-sm btn-primary">Edit</a>
                <form action="{% url 'product_delete' product.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete {{ product.name }}?')">Delete</button>
                </form>
                <a href="{% url 'change_order_status' product.pk %}" class="btn btn-sm btn-secondary">Change Order Status</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product_create' %}" class="btn btn-primary">Add Product</a>
<a href="{% url 'export_products_xlsx' %}" class="btn btn-success">Export to Excel</a>
{% endblock %}
